
<p class="text-center offset3 page-header brand"><h1>Social networks</h1>  </p>

<div class="hero-unit">
	
<div class='row-fluid dash-actions'>
  <%= link_to('auth/twitter',:class => 'btn btn-large btn-info') do %>
   <img src="https://abs.twimg.com/a/1375759071/images/resources/twitter-bird-blue-on-white.png" width="100px" height="100px">
   	 <% end %>
</div>

</div>


<div class="hero-unit">
<div class='row-fluid dash-actions'>
  <%= link_to('auth/facebook',:class => 'btn btn-large btn-info') do %>
   <img src="https://cdn1.iconfinder.com/data/icons/New-Social-Media-Icon-Set-V11/512/facebook.png" width="100px" height="100px">
  <% end %>
</div>
</div>











