<div></div><h1 class="hero-unit center"><img src="https://abs.twimg.com/a/1375391966/images/resources/twitter-bird-white-on-blue.png " width="100px" height="100px"> Twitter
<ul>
	<br>
<li><a href="https://twitter.com/intent/tweet?screen_name=current.user" class="twitter-mention-button" data-related="current.user">Tweet to @pallavi_shastry</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</li>
</ul>
</h1>
<div class="span3 offset1">
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/pallavi_shastry"  data-widget-id="364689306587127809">Tweets by @pallavi_shastry</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="span3 offset2">
<a class="twitter-timeline"  href="https://twitter.com/pallavi_shastry/favorites"  data-widget-id="364689775212523520">Favorite Tweets by @pallavi_shastry</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>


</div>

 